#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.navigation-bar {
  /* width: 10%; */
  height: 100%;
  flex-grow: 1;

  background-color: #c2c3c0;
}

.navigation-invisible-bar {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 150px;
  height: 150px;
}

.navigation-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.navigation-button {
  width: 100%;
  height: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;

  background-color: black;
  color: white;
}

.navigation-button:hover {
  background-color: gray;
}

.navigation-button.active {
  background-color: grey;
  color: white;
}

.main-content {
  display: flex;
  flex-grow: 20;
  padding: 5em;
  margin-top: 5em;
  margin-inline: 2em;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-input {
  font-size: 20px;
}

.input {
  height: 30px;
  width: 100%;
  font-size: 15px;
  padding: 10px;
}

.input:focus {
  outline: 2px solid black;
}

.viagem-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2em;
}

.viagem-user {
  width: 30%;
}

.viagem-endereço {
  display: flex;
  gap: 5em;
}

.viagem-origem {
  flex-grow: 1;
}

.viagem-destino {
  flex-grow: 1;
}

.button-div {
  height: 3em;
  width: 20%;
  margin-top: 2em;
}

.button {
  height: 100%;
  width: 100%;
  cursor: pointer;

  text-align: center;
  background-color: black;
  font-size: 20px;
  color: white;
  border-radius: 0;
  border: 0px;
}

.button:hover {
  background-color: gray;
}
